
::-webkit-scrollbar{/* Afeta o estilo da barra de rolagem de um elemento */

    width: 15px;
    background-color: #343434;
}

::-webkit-scrollbar-thumb{/* A barra da scrollbar */

    border-radius: 15px;
    background-color: rgba(204, 0, 255, 0.5);
}


html{
    
    scroll-behavior: smooth;/* Especifica se deve animar suavemente a posição de rolagem, em vez de um salto direto, quando o usuário clica em um link.  */
}