
.sessao-02 > .container{

    max-width: 1000px;
    min-height: 350px;
    position: relative;
}

.barra-01 img{

    top: 50px;
    background-size: cover;/* Valida para pegar todo o container */
    position: relative;
    max-width: 1000px;
    min-height: 350px;
    border-radius: 5px;
}

.barra-01{

    text-align: center;
    background-color: rgba(204, 0, 255, 0.3);
    position: relative;
    height: 470px;
    border-radius: 20px;
    width: 100%;
}

.comentario{

   position: absolute;
   left: 50%;
   width: 70%;
   background: rgba(109, 86, 191, 0.5);
   bottom: 30px;
   max-width: 500px;
   padding: 45px;
   border-radius: 15px;
   box-shadow: 0 9px 20px 0 rgb(17, 17, 17, 0.9);/* Faz uma caixa de sombra emvolta da div */
}

.comentario p{

    font-size: 19px;
    color: white;
    font-size: bold;
}